@{
}

<div>
    <form method="post" action="~/Account/ChangeUserPassword">
        <input type="text" value="New password" name="newPassword" />
        <input type="submit" value="Change password" class="btn btn-danger" />
    </form>
</div>