@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Role list:</h2>

<table class="table table-bordered, table-dark">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="flex-column" style="gap: 5px 5px">
    <a class="btn btn-primary" asp-action="Create"> Add role </a>
    <a class="btn btn-primary" asp-action="UserList"> List of users </a>
</div>
